.meal-title {
    margin : 10px 0 20px 0;
}

.food-card {
    display: inline-block;
    margin : 20px;
    margin-bottom: 20px;
}
.food-img img{
    display: block;
    height : 100px;
    margin-left: auto;
    margin-right: auto;
}
.food-name {
    margin: 0 auto 0 auto;
    max-width: 150px;
    text-align: center;
}
.food-code {
    margin: 0 auto 10px auto;
    max-width: 150px;
    text-align: center;
    font-size: 10px;
}
.card-header h6 {
    margin: 0;
}
.btn-delete-food input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.stat-card{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.stat-img img{
    height: 100px;
}