.meal-title {
    margin : 10px 0 20px 0;
}

.food-card {
    display: inline-block;
    margin : 20px;
    margin-bottom: 20px;
}
.food-img {
    height : 100px;
    margin-left: auto;
    margin-right: auto;
}
.food-name {
    margin: 0 auto 10px auto;
    max-width: 150px;
    text-align: center;
}
.btn-delete-food {
    margin-left: auto;
    margin-right: auto;
}

.stat-img img{
    height: 100px;
}